pre
  code                                                .--.                    <br>
  code                                                `.  \                   <br>
  code                                                  \  \                  <br>
  code                                                    .  \                <br>
  code                                                    :   .               <br>
  code                                                    |    .              <br>
  code                                                    |    :              <br>
  code                                                    |    |              <br>
  code    ..._  ___                                       |    |              <br>
  code  `."".`''''""--..___                              |    |               <br>
  code  ,-\  \             ""-...__         _____________/    |               <br>
  code  / ` " '                    `""""""""                  .               <br>
  code  \                                                      L              <br>
  code  (>                                                      \             <br>
  code  /                                                         \           <br>
  code  \_    ___..---.                                            L          <br>
  code    `--'         '.                                           \         <br>
  code                  .                                           \_        <br>
  code                  _/`.                                           `.._   <br>
  code              .'     -.                                             `.  <br>
  code              /     __.-Y     /''''''-...___,...--------.._            |<br>
  code            /   _."    |    /                ' .      \   '---..._    | <br>
  code            /   /      /    /                _,. '    ,/           |   |<br>
  code            \_,'     _.'   /              /''     _,-'            _|   |<br>
  code                    '     /               `-----''               /     |<br>
  code                    `...-'                                       `...-' <br>